body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}


.spinner {
  border: 6px solid #eee;
  border-top: 6px solid #888;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% { transform: rotate(360deg); }
}

@keyframes marquee {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

input, textarea {
  user-select: text !important;
}

@keyframes blink-success {
    0% { color: green; }
    50% { color: transparent; }
    100% { color: green; }
}

@keyframes blink-error {
    0% { color: red; }
    50% { color: transparent; }
    100% { color: red; }
}

.blink-success {
    animation: blink-success 1s ease-in-out;
}

.blink-error {
    animation: blink-error 1s ease-in-out;
}